body {

    font-family: Arial, sans-serif;
    text-align: center;

    background-image: url("imagens/fundo-igreja.jpg");
    background-size: cover;
    background-position: center;

    min-height: 100vh;

    padding: 30px;

}


.logo {

    font-size: 60px;
    font-weight: bold;

}


.frase {

    font-size: 28px;
    margin-bottom: 40px;

}


.botao {

    width: 80%;
    max-width: 500px;

    padding: 25px;

    margin: 15px;

    font-size: 30px;

    border-radius: 20px;

}
